
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{font-family: "Ubuntu", sans-serif; 
     padding: 0;
     margin: 0;

}
body{
     background-image: linear-gradient(to right, rgb(48, 40, 40),white);
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

}
a{
     color: azure;
     text-decoration: none;
}
.al{
     font-size: 30px;
     text-transform: uppercase;
}
ul{
     width: 60%;
     list-style: none;
     display: flex;
     justify-content: space-evenly;
}
ul a{
     border-bottom: 2px solid transparent;
}
ul a:hover{border-bottom-color:white;

}


.container{
     background-image:linear-gradient(rgba(68, 60, 60, 0.24),rgba(201, 122, 122, 0.514)),
     url(pexels-wolfgang-weiser-467045605-20776542.jpg) ;
     background-repeat: no-repeat;
     background-size: cover;
     width: 90%;
     height: 600px;
     


}
.container:hover{  background-image:linear-gradient(right,rgba(68, 60, 60, 0.24)30%,transparent),
     url(pexels-wolfgang-weiser-467045605-20776542.jpg);

}
header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
}
.sasa{
     background:;
     width: 98%;
     height: 400px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.content{
     background: ;
     width: 90%;
     height: 350px;     
}
.nona{
     background:;
     width: 98%;
     height: 340px;
     display: flex;
     justify-content: space-between;
}
h1{display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     font-size: 80px;
     text-transform: uppercase;
     color:rgb(241, 235, 235);
     font-size: 50px;
     
}
.totall{
     color:;
     display: flex;
     flex-flow: column ;
     align-items: end;
     

}
.totall li{
     border-bottom: 2px solid transparent;
     color: azure;
     font-weight: bold;
     

}
.totall li:hover{
     border-bottom-color: azure;
}

table{ background: rgb(231, 89, 89);
     position: absolute;
     transform: translate(60px,146px);
    left: 0;
  
  border: 1px solid rgb(182, 17, 17);   
 box-shadow: 2px 2px 12px 10PX gray;
 font-size: 15px;
 }

 
 .zizo{
     width: 70%;
     height: 400px;
     background: rgb(160, 159, 155);

 }
thead{
     width: 400px;

}
 tr td{
     font-size: 10px;
 
 }
 
 tr{ 
     transform: all .2s ease-in;
     cursor: pointer;
 }
 
 td{
     background-color: rgb(218, 204, 204);
     padding: 12px;
 text-align: left;
  border-bottom: 4px solid rgb(206, 187, 138) ;
 color: rgb(110, 19, 19);
 font-weight: bold;
 font-size: 25px;
 text-transform: capitalize;
 }
 caption{
     font-size: 30px;
     background-color: rgba(211, 73, 73, 0.226);
     color: azure;
     font-weight: 800;
     text-align: center;
     background-color: brown;
     padding: 10px 0px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 }
 caption:hover{
     font-size: 40px;
 
 }
 tr:hover{
     background-color: #f5f5f5;
     transform: scale(1.02);
     box-shadow: 2px 2px 12px 10PX gray
 }
 @media only screen and (max-width:768px){
     table{width: 90%;}
 }
 [type=text]{
     background: ;
     width: 100px;

 }
 [type=number]{
     background:;
     width: 134px;
     font-weight: bold;
     color: black;
 }
[type=submit]{
     background: rgb(153, 153, 170);
     width: 300px;
     font-weight: bold;
     transform: translate(400px,0px);
     height: 40px;
}
